html, body {
    padding: 25px 0 0;
    margin: 0;
    font-family: 'Open Sans','Verdana',Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 14px;
    background-color: #f9f9fb;
    height: 100%;
}
.steps,.frame{
    box-shadow: 0 0 10px 8px rgba(0, 0, 0, .1);
}
.bs-vertical-wizard {
    padding-bottom: 50px;
}

.step {
    display: block;
    position: relative;
}

.step>div{
    padding: 10px 10px 10px 40px;
    color: #333c4e;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: .8px;
}

.step>div:before {
    content: '';
    position: absolute;
    width: 6px;
    height: calc(100% - 25px);
    background-color: #bdc2ce;
    left: 11px;
    bottom: -9px;
    z-index: 3;
    
}

.ico {
    pointer-events: none;
    position: absolute;
    left: 2px;
    z-index: 2;
    border-radius: 50%;
    color: white;
    display: inline-block;
    width: 25px!important;
    height: 25px;
    padding: 5px;
}



 .step>div .desc {
    display: block;
    color: #bdc2ce;
    font-size: 19pt;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: .8px;
}

.complete>div:before {
    background-color: #5cb85c;
    opacity: 1;
    height: calc(100% - 25px);
    bottom: -9px;
}

.complete>div:after {display:none;}
.locked>div:after {display:none;}
:last-child>div:before {display:none;}



.ico-green {
    background: #5cb85c;
}
.ico-yellow {
    background: #ffe357; 
}
.ico-muted{
    background: #bdc2ce;
}
 .current {
    background-color: #fff;
}

.current>div:before {
    background-color: #ffe357;
    opacity: 1;
}

 .current>div:after {
    border-color: #ffe357;
    background-color: #ffe357;
    opacity: 1;
}

.label{
    display: inline-block;
    padding: 10px;
    width: 297px;
}